.key{
    width:100%;
    height:200px;
}
#do{
   position: relative;
   width:15%;
   height:200px;
   float:left;
}
#re{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 #mi{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 #fa{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 #so{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 #la{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 #si{
    position: relative;
    width:15%;
    height:200px;
    float:left;
 }
 .lab{
    width: 15%; 
    float:left; 
    text-align: center;
 }